// File: project/base/globals
// Imported by: style.scss
//
// Description:
// 	General global styling
//
// Requires:
// 	- Sass
// 	- Compass

html,
body {
	overflow: hidden;
}

@mixin logo($w) {
	$h : $w * 0.34132;

	#logo {
		width: $w;
		height: $h;
		margin-top: -$h/2;
		margin-left: -$w/2;
	}
}

#logo {
	top: 50%;
	left: 50%;
	position: fixed;
	overflow: hidden;

	svg {
		@extend %position-zero;
		width: 100%;
		height: 100%;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#background {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@include logo(200px);

@for $i from 3 through 18 {
	@media only screen and (min-width : $i * 100px) {
		@include logo(($i - 1) * 100px);
	}
}

.if-bg,
.if-fg {
	display: none;
}
.is-bg .if-bg,
.is-fg .if-fg {
	display: block;
}
.fg-red .fg-color,
.bg-red .bg-color {
	fill: red;
	background: red;
}
.fg-white .fg-color,
.bg-white .bg-color {
	fill: white;
	background: white;
}
.fg-black .fg-color,
.bg-black .bg-color {
	fill: black;
	background: black;
}
